html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #282828;
  color: #fff;
  scroll-behavior: smooth;
  font-family: 'Work Sans', sans-serif;
}

a:hover {
  text-decoration: none;
}

.top-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 10px;
  background-color: #fff;
  color: #282828;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.green {
  color: #3bd06d;
}

.orange {
  color: #f57d38;
}

.red {
  color: #ef5a5a;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
}
.spinner-border span {
  display: none;

}
// navbar
.navbar-container nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 500;
  overflow: hidden;
}
.navbar-container nav .logo {
  font-size: 1.7em;
  color: #fff;
  margin-left: 40px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.navbar-container nav .logo:hover {
  color: #54de98;
}
.navbar-container nav .fa-arrow-left {
  cursor: pointer;
  margin-right: 45px;
  font-size: 1.4em;
  border-right: 3px solid #fff;
  padding: 0 10px;
}
.navbar-container nav .hidden-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 25px;
  width: 0;
  height: 100vh;
  transform: translateX(200px);
  transform-origin: right;
  transition: 0.5s ease-in-out;
  z-index: 600;
}
.navbar-container nav .hidden-container .fa-arrow-right {
  cursor: pointer;
  font-size: 1.4em;
  border-left: 3px solid #fff;
  padding: 0 10px;
  margin-bottom: 50px;
  max-width: fit-content;
}
.navbar-container nav .active {
  width: 20%;
  background-color: rgba(56, 56, 56, 0.90);
  transform: translateX(0);
}
.navbar-container nav .hidden-container .link-container a {
  display: block;
  font-size: 2em;
  font-weight: 600;
  margin: 5px 0;
  color: #fff;
  overflow-y: hidden;
  height: 40px;
  animation-duration: 0.5s;
  animation-delay: 0.7s;
  transition: 0.3s ease-in-out;
}
.navbar-container nav .hidden-container .link-container a:hover {
  color: #54de98;
}
.navbar-container nav .hidden-container button {
  background-color: #54de98;
  border: unset;
  font-weight: 600;
}



// loading animation
.loading-container {
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
}

.loading-container .loading-block {
  position: relative;
  width: 70px;
  height: 70px;
  animation: zoomOut;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loading-container .loading-block h2 {
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #54de98;
  font-weight: 600;
  animation: animaTypeOpacity;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loading-container .loading-block span {
  position: absolute;
  background-color: #54de98;
  transition: 0.3s ease-in-out;
}

.loading-container .loading-block span:nth-child(1) {
  top: 0;
  left: 0;
  height: 0;
  width: 3px;
  animation: animaType2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.loading-container .loading-block span:nth-child(2) {
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  animation: animaType1;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.loading-container .loading-block span:nth-child(3) {
  top: 0;
  right: 0;
  height: 0;
  width: 3px;
  animation: animaType2;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.loading-container .loading-block span:nth-child(4) {
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  animation: animaType1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes animaType1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes animaType2 {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes animaTypeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}