// accueil-container
.accueil-container h2 {
  font-size: 3em;
  font-weight: 600;
  margin-left: 50px;
}
.accueil-container .up-coming-container {
  margin-top: 200px;
}
.accueil-container .bottom-container {
  margin-top: 150px;
}
.accueil-container .selected-movie {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.accueil-container .selected-movie .backdrop-img {
  width: 100vw;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
 }
.accueil-container .selected-movie .info {
  position: absolute;
  top: 65px;
  display: flex;
  align-items: end;
  padding: 15px 15px 0 35px;
}
.accueil-container .selected-movie .info img {
  width: 200px;
  border-radius: 6px;
  margin-right: 20px;
}
.accueil-container .selected-movie .info .title {
  font-size: 3em;
  font-weight: 500;
  margin-top: 10px;
  text-shadow: 5px 5px 10px rgba(40, 40, 40, 0.65);
}
.accueil-container .selected-movie .info .vote-average {
  font-size: 1.3em;
  font-weight: 600;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.accueil-container .selected-movie .info .vote-count {
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 20px;
}

// card
.movies-container {
  display: flex;
  padding: 20px;
  //animation: fadeInUp;
  //animation-duration: 2s;
}

.movies-container .active-card {
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px;
  color: #fff;
  background-color: rgba(40, 40, 40, 0.85);
  animation-duration: 1.2s;
}

.movies-container .active-card img {
  width: 400px;
  border-radius: 6px;
  transform: perspective(800px) rotateY(10deg) scale(0.9) rotateX(2deg);
  opacity: 0.7;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.34), 6px 6px 10px 3px rgb(0 0 0 / 70%);
  transition: 0.6s ease all;
}

.movies-container .active-card img:hover {
  transform: perspective(900px) rotateY(0deg) translateY(-50px) rotateX(2deg) scale(1);
  opacity: 1;
}

.movies-container .active-card .fa-xmark {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 1.5em;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.movies-container .active-card .fa-xmark:hover {
  transform: rotate(90deg);
  background-color: #fff;
  color: #282828;
}

.movies-container .active-card .title {
  font-size: 3em;
  font-weight: 500;
  margin-top: 10px;
  max-width: 400px;
  text-shadow: 5px 5px 10px rgba(40, 40, 40, 0.65);
}

.movies-container .right-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.movies-container .active-card .overview {
  font-size: 1.3em;
  font-weight: 300;
  max-width: 800px;
}

.movies-container .active-card .vote-average {
  font-size: 1.3em;
  font-weight: 600;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.movies-container .active-card .vote-count {
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 20px;
}

.movies-container .active-card a {
  margin-top: 30px;
  transition: 0.3s ease-in-out;
  color: #fff;
  max-width: fit-content;
}

.movies-container .active-card a:hover {
  transform: translateX(10px);
  color: #54de98;
}

.movies-container .active-card a span {
  font-size: 1.3em;
  font-weight: 600;
}

.movies-container .active-card a i {
  margin-left: 10px;
}

.movies-container .movie-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #fff;
  width: 200px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.movies-container .movie-card:hover {
  color: #54de98;
}

.movies-container .movie-card img {
  width: 200px;
  min-height: 300px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(40, 40, 40, 0.65);
}

.movies-container .movie-card .title {
  max-width: 200px;
  margin-top: 10px;
}

// discover
.genre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  overflow-x: scroll;
  padding: 15px 0;

  //animation: fadeIn;
  //animation-duration: 2s;
}

.genre-container .link {
  margin: 0 10px;
  cursor: pointer;
  min-width: fit-content;
  transition: 0.3s ease-in-out;
}

.genre-container .link:hover {
  color: #54de98;
  font-weight: 600;
}

.genre-container .active-link {
  margin: 0 10px;
  cursor: pointer;
  color: #54de98;
  border-bottom: 1px solid #54de98;
  font-weight: 600;
  text-shadow: 5px 5px 10px rgba(40, 40, 40, 0.65);
  transition: 0.3s ease-in-out;
}

.discover-container .loading-btn {
  padding: 10px 50px;
  background-color: #54de98;
  border: unset;
  color: #282828;
  box-shadow: 5px 5px 10px rgba(40, 40, 40, 0.65);
  transition: 0.3s ease-in-out;
}

.discover-container .loading-btn:hover {
  background-color: #fff;
  color: #54de98;
}

// movie detail
.movie-detail-container {
  display: flex;
}
.movie-detail-container .left-container img {
  width: 605px;
  height: 100%;
}
.movie-detail-container .left-container span {
  position: absolute;
  top: 0;
  right: -25px;
  width: 50px;
  height: 100%;
  background: rgb(40,40,40);
  background: linear-gradient(90deg, rgba(40,40,40,0) 0%, rgba(40,40,40,1) 50%, rgba(40,40,40,0) 100%);
}
.movie-detail-container .right-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: 35px;
  color: #fff;
  max-width: 60%;
}
.movie-detail-container .right-container .title {
  font-size: 3em;
  font-weight: 500;
  margin-top: 10px;
  text-shadow: 5px 5px 10px rgba(40, 40, 40, 0.65);
}
.movie-detail-container .right-container .thriller {
  color: #54de98;
  font-style: italic;
  font-weight: 600;
  font-size: 1.2em;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
  max-width: fit-content;
}
.movie-detail-container .right-container .thriller:hover {
  margin-left: 10px;
}
.movie-detail-container .right-container .overview {
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 5px;
}
.movie-detail-container .right-container .vote-average {
  font-size: 1.3em;
  font-weight: 600;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.movie-detail-container .right-container .vote-count {
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 20px;
}

.movie-detail-container .right-container .similar-movies {
  display: flex;
  overflow-x: scroll;
  padding: 15px 0;
}
.movie-detail-container .right-container .similar-movies .movie-card {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.movie-detail-container .right-container .similar-movies .movie-card img {
  width: 200px;
  min-height: 230px;
  border-radius: 6px;
}
.movie-detail-container .right-container .similar-movies .movie-card p {
  max-width: fit-content;
}





//

@media only screen and (max-width: 600px) {
  .accueil-container h2 {
    margin-left: 25px;
    font-size: 1.7em;
  }
  .accueil-container .selected-movie .info {
    top: 205px;
  }
  .accueil-container .selected-movie .info img {
    width: 100px;
  }
  .accueil-container .selected-movie .info .title {
    font-size: 1.2em;
  }
  .accueil-container .selected-movie .info .vote-average {
    font-size: 1em;
  }
  .accueil-container .selected-movie .info .vote-count {
    font-size: 1em;
  }
  .accueil-container .up-coming-container {
    margin-top: 150px;
  }
  .accueil-container .bottom-container {
    margin-top: 50px;
  }
  // movie card
  .movies-container {
    padding: 10px 5px;
  }
  .movies-container .movie-card {
    margin: 15px;
    width: auto;
  }
  .movies-container .movie-card img {
    width: 150px;
    min-height: 230px;
    border-radius: 6px;
  }
  .movies-container .movie-card .title {
    max-width: 150px;
    font-size: 0.9em;
  }
  .movies-container .active-card {
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 20px;
    overflow: scroll;
  }
  .movies-container .active-card .fa-xmark {
    padding: 0;
  }
  .movies-container .active-card img {
    width: 200px;
  }
  .movies-container .active-card .title {
    font-size: 1.5em;
  }
  .movies-container .right-container {
    margin-left: 0;
  }
  .movies-container .active-card .overview {
    font-size: 1em;
  }
  //discover
  .genre-container {
    justify-content: left;
    padding: 15px 20px;
  }
}