// App

/*==============================================================
 For all pages
 ============================================================== */

#main-wrapper {
    width: 100%;
    overflow: hidden;
}

.border-10 {
    border-left: 20px solid;
    border-top-color: #dee2e6 !important;
    border-bottom-color: #dee2e6 !important;
}

.inside-border-10-danger {
    -webkit-box-shadow: inset 10px 0px 0px 0px #fc4b6c;
    box-shadow: inset 10px 0px 0px 0px #fc4b6c;
    border-top-color: #dee2e6 !important;
    border-bottom-color: #dee2e6 !important;
}

.inside-border-10-success {
    -webkit-box-shadow: inset 10px 0px 0px 0px #394f97 ;
    box-shadow: inset 10px 0px 0px 0px #394f97 ;
    border-top-color: #dee2e6 !important;
    border-bottom-color: #dee2e6 !important;
}

.inside-border-5-info {
    -webkit-box-shadow: inset 5px 0px 0px 0px #38ab54 ;
    box-shadow: inset 5px 0px 0px 0px #38ab54 ;
    border-top-color: #dee2e6 !important;
    border-bottom-color: #dee2e6 !important;
}

.bg-selected-lighter {
    background-color: #fbfbfb;
}

.bg-selected {
    background-color: #f8f9fa;
}

.bg-light2 {
    background: #EEE;
}

.text-sm {
    font-size: .825rem;
}

.text-md {
    font-size: .925rem;
}

.dropdown-table-row {

    .btn {
        padding: .35em .7em;
        font-size: 73%;
        font-weight: 300;
    }

    .dropdown-item {
        font-size: 73%;
    }

    .btn:hover::after {
        opacity: 1 !important;
        margin-left: .5rem !important;
    }

    .btn::after {
        transition: .250s;
        margin-left: -5px !important;
        opacity: 0;
    }
}
.dropdown-table-row .btn::after{
    margin-left: .5rem;
}

.dropdown-table-row .btn:hover::after{
    opacity: 0;
}

.custom-shadow-top {
    -webkit-box-shadow: inset 0 8px 18px -8px rgba(0, 0, 0, 0.15), inset 5px 0px 0px 0px #38ab54;
    -moz-box-shadow: inset 0 8px 18px -8px rgba(0,0,0,0.15), inset 5px 0px 0px 0px #38ab54;
    box-shadow: inset 0 8px 18px -8px rgba(0,0,0,0.15), inset 5px 0px 0px 0px #38ab54;
}

.custom-shadow-bottom {
    -webkit-box-shadow: inset 0 -8px 18px -8px rgba(0,0,0,0.15), inset 5px 0px 0px 0px #38ab54;
    -moz-box-shadow: inset 0 -8px 18px -8px rgba(0,0,0,0.15), inset 5px 0px 0px 0px #38ab54;
    box-shadow: inset 0 -8px 18px -8px rgba(0,0,0,0.15), inset 5px 0px 0px 0px #38ab54;
}

.text-semibold {
    font-weight: 600;
}

.overflow-x-visible > .table-responsive {
    overflow-x: visible !important;
}

.modal-footer {
    background: #ecf0f1 !important;
}

.full-size {
    height: calc(100vh - 172px);
    overflow-y:auto;
}

.full-size-min {
    min-height: calc(100vh - 172px);
}

.full-size-with-one-row-filters {
    height: calc(100vh - 335px);
    overflow-y:auto;
}

.full-size-dossier-eleve {
    height: calc(100vh - 452px) !important;
    overflow-y:auto;
}

.full-size::-webkit-scrollbar {
    opacity: 0;
}

.full-size iframe {
    height: calc(100vh - 178px);
    overflow-y:auto;
    width: 100%;
}

.full-size-with-one-row-filters iframe {
    height: calc(100vh - 335px);
    overflow-y:auto;
    width: 100%; 
}

.hidden {
    height: 0;
    width: 0;
    opacity: 0;
    display: block;
    padding: 0 !important;
    border: 0px !important;
}

.square64 {
    height: 64px;
    width: auto;
    max-width: 64px;
}

.modal-footer-dark {
	background: #ecf0f1 !important;
	border-radius: 0 0 3px 3px;
}

.my-row {
    display: flex;
    .my-group {
        flex:1;
    }
}

.list-style-none {
    list-style: none;
}

.button-to-field {
    display: flex;
    align-items: flex-end;
    text-align: right;
    input[type='text'] {
        opacity: 0;
        padding: 0;
        width: 0px;
        transition: .5s ease;
        height: 36px;
    }
    .btn { transition: .5s ease; }
}

.button-to-field.active {
    input[type='text'] {
        opacity: 1;
        padding: 0 12px;
        width: auto;
        margin-right: 10px;
    }
    .btn {
        width: 38px !important;
    }
    transition: .5s ease;
}

.rounded-child-table > .table-responsive {
    border-radius: 8px !important;
    border: 1px solid rgba(224, 224, 224, 0.747);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

    th {
        border-top: none !important;
    }
}

.table-success-custom {
    background-color: $success-ligne !important;
    &:hover { background-color: lighten($success-ligne, 5%) !important; }
}
.table-warning-custom {
    background-color: $warning-ligne !important;
    &:hover { background-color: lighten($warning-ligne, 5%) !important; }
}
.table-danger-custom {
    background-color: $danger-ligne !important;
    &:hover { background-color: lighten($danger-ligne, 5%) !important; }
}

.crossed {
    background: 
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,.5) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%);
}

.disappear {
    height: 0;
    opacity: 0;
}

.h-300 {
    height: 300px !important;
}

.h-340 {
    height: 340px !important;
}

.discrete-bottom-right-text {
    position: absolute;
    right: 16px;
    bottom: 0;
    font-size: 14px;
    opacity: 0.7;
    text-transform: capitalize;
}

$primaire: #3c86c7;
$secondaire: #B477F9;
$tertiaire: #DB1DA8;
$succes: #43C127;
$supplementaire: #394f97;

.border-bottom-primaire { border-bottom: 2px solid $primaire }
.border-bottom-secondaire { border-bottom: 2px solid $secondaire }
.border-bottom-tertiaire { border-bottom: 2px solid $tertiaire }
.border-bottom-supplementaire { border-bottom: 2px solid $supplementaire }

.texte-primaire { color: $primaire !important }
.texte-secondaire { color: $secondaire !important }
.texte-tertiaire { color: $tertiaire !important }
.texte-succes { color: $succes !important }
.texte-supplementaire { color: $supplementaire !important }

.hw24 { width: 24px; height: 24px; }

#accueil {

    .carte {
        border-radius: 8px;
        padding: 16px;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    }

    #donnees-utilisateur {
        padding: 16px;
        padding-left: 42px;

        .carte#principale {
            position: relative;
            margin-top: 32px;
            padding: 24px 16px;
            background: url(../../../../images/fond-courbes.png) center;
            background-size: cover;

            .donnees {
                h2 {
                    margin-bottom: 7px;
                    color: #707070;
                }
                h5 {
                    margin-bottom: 13px;
                    color: #707070;
                }
                .informations-principales {
                    padding-left: 12px;
                    margin-bottom: 0;
                    color: #404040;
                    &.email { margin-bottom: 2px; }
                }
                position: relative;
                z-index: 1;
            }

            .bievenue {
                position: absolute;
                bottom: 0px;
                right: 0px;
                z-index: 0;
            }
        }

        .graphique-solde {
            height: calc(100vh - 590px) !important;
        }

        .graphique-solde2 {
            height: calc(100vh - 700px) !important;
        }

        .graphique-admin {
            height: calc(100vh - 500px) !important;
        }
    }


    #communications {
        padding-top: 16px;
        padding-right: 28px;
        height: calc(100vh - 70px);
        overflow: auto;

        .communication {
            max-height: 205px;
            overflow-y: hidden;
            position: relative;

            div {
                margin-bottom: 8px;

                .date {
                    color: #AFAFAF;
                    font-size: 12px;
                }
            }

            > p {
                font-size: 14px;
                text-overflow: ellipsis;
            }
        }

        .contenu-trop-long {
            position: absolute;
            left: 0; bottom: 0; right: 0;
            margin-bottom: 0 !important;
            text-align: center;
            background: linear-gradient(180deg, rgba(253,253,253,0) 0%, rgba(253,253,253,0) 70%, rgb(241, 241, 241) 100%);
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-size: small;
            color: #58585875;
            z-index: 2;
            opacity: 0;
            transition: 250ms;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

    }

    #barre-laterale {
        background: #F8FBFE;
        min-height: calc(100vh - 70px);
        padding: 16px;
        padding-right: 32px;
        z-index: 2;

        h4 {
            margin-bottom: 16px;
        }
        .titre-activites {
            margin-top: 32px;
        }

        .raccourci {
            padding: 8px 16px;
            p {
                font-size: 13px;
                color: #666667;
            }
            > i {
                font-size: large;
            }
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 1180px) {
    .mini-sidebar #messagerie-admin .show-left-part { left: 60px !important; }
    .mini-sidebar #messagerie-admin .show-left-part.left-part-open { left: 245px !important; }
    #messagerie-admin {
        .show-left-part {
            position: fixed;
            top: 167px;
            left: 245px;
            border-radius: 100% !important;
            height: 45px !important;
            width: 45px !important;
            display: flex !important;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            transition: 250ms;
        }
        .left-part {
            position: fixed;
            left: -275px;
            top: 0;
            transition: 250ms;
            height: 100vh;
            z-index: 999;
        }
        .left-part.show-panel {
            left: 0;
            transition: 250ms;
        }
        .right-part {
            width: 100%;
            margin-left: 0;
        }
    }
}

@media (max-width: 767px) {
    .mini-sidebar #messagerie-admin .show-left-part { left: 0px !important; }
}


#etages, #lits {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    .etage, .lit {
        p { padding: 0 8px; display: inline-block; }
        background-color: #ebf5ff;
        background-color: rgba(0, 126, 255, 0.08);
        border-radius: 2px;
        border: 1px solid #c2e0ff;
        border: 1px solid rgba(0, 126, 255, 0.24);
        color: #007eff;
        display: inline-block;
        vertical-align: middle;
        font-size: 0.9em;
        line-height: 1.4;
        margin-left: 5px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        vertical-align: top;
        .etage-supprimer, .lit-supprimer {
            cursor: pointer;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
            border-right: 1px solid #c2e0ff;
            border-right: 1px solid rgba(0, 126, 255, 0.24);
            padding: 1px 5px 3px;
            display: inline-block;
            &:hover {
                background-color: rgba(0, 113, 230, 0.08);
                color: #0071e6;
            }
        }
    }
}

.texte-description {
    font-size: small;
    color: #999;
}

.icone-flottant {
    display: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 64px;
    height: 64px;
    padding: 16px;
    z-index: 100;

    p {
        text-align: center;
    }

    i { margin-bottom: 0 }
}

@media only screen and (max-width: 1200px) {

    #accueil #barre-laterale {
        position: fixed;
        right: -50%;
        width: 50%;
        -webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
        transition: 350ms;
        transition-timing-function: ease-in-out;
        opacity: 0;
    }
    #accueil #barre-laterale.visible {
        right: 0;
        opacity: 1;
    }

    #accueil .icone-flottant {
        display: block;
    }
}

@media only screen and (max-width: 992px) {
    #accueil #donnees-utilisateur {
        padding-right: 42px !important;
    }
    #accueil #communications {
        padding: 0 42px !important;
    }
    #accueil #barre-laterale {
        right: -80%;
        width: 80%;
    }
}

@media only screen and (max-width: 430px) {
    .bievenue {
     -webkit-mask-image:-webkit-gradient(linear, right center, left center, from(rgba(0,0,0,.8)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to left, rgba(0,0,0,.8), rgba(0,0,0,0));
    }
}

.custom-scrollbar {
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(179, 181, 182, 0.527) #eef5f9;
  }

  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #eef5f9;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(179, 181, 182, 0.527);
    border-radius: 10px;
    border: 3px solid #eef5f9;
  }
}

.disabled-link {
    pointer-events: none;
}

#fiche-etudiant {
    padding: 16px 32px;
    padding-right: 0px;

    .carte-etudiant {
        background: aliceblue;
        border: 1px solid #DDD;
        border-radius: 4px;
        padding: 16px;
    }

    #upload-user-img {
        border-radius: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        background: rgba(28, 81, 179, 0.5);
        width: 100%;
        height: 100%;
        transition: 250ms;
        cursor: pointer;
    }
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    width: 100%;
    margin-bottom: -8px;
}

.masonry-brick {
    flex: auto;
    height: 37px;
    min-width: 150px;
    margin: 0 8px 8px 0;
}

@media only screen and (max-width: 992px) {
    #fiche-etudiant { padding-right: 32px; }
    .masonry {
        margin-left: 4px;
        margin-right: -8px !important;
    }
}

#journal-de-classe {
    
    margin: 0 16px;
    p {
        margin-bottom: 0;
    }
    .semaine .jour {
        background: rgb(237,237,237);
        padding: 16px;
        text-align: center;
        color: #38ab54;
        border-right: 1px solid #EAEAEA;
        .date {
            color: #333;
            opacity: .75;
            font-size: small;
        }
    }
    .semaine .jour:nth-child(2) {
        border-top-left-radius: 8px;
    }
    .semaine .jour:nth-child(odd){
        background: #F6F6F6;
    }
    .semaine .jour:last-child {
        border-top-right-radius: 8px;
        border: 0;
    }

    .periode:nth-child(odd) {
        filter: brightness(98%);
    }

    .periode {
        .titre-journal {
            color: white;
            background: $primaire;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 6px;
            text-align: center;
            font-size: small;
        }
        .libelle {
            background: rgb(237,237,237);
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #E1E1E1;
            border-right: 1px solid #E1E1E1;
            p {
                color: $primaire;
                text-align: center;
            }
        }
        .case {
            transition: .25s;
            padding: 8px;
            background: rgb(246,246,246);
            border-right: 1px solid #EAEAEA;
            border-top: 1px solid #EAEAEA;
            .entree-journal {
                border: 1px solid $primaire;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                padding: 6px;
                background: white;
                margin-bottom: 10px;
            }
            .note {
                border-radius: 8px;
                color: whitesmoke;
                margin-bottom: 8px;
            }
            .couleur-note {
                color: $primaire;
            }
            .couleur-devoir {
                color: darken($secondaire, 10%) !important;
            }
            .couleur-preparation {
                color: darken(#6A51F4, 10%) !important;
            }
            .couleur-cours {
                color: $supplementaire !important;
            }
            .couleur-evaluation {
                color: $tertiaire !important;
            }
            .note:last-child {
                margin-bottom: 0;
            }
            &:nth-child(odd){
                background: #FAFAFA;
            }
            &:last-child() {
                border-right: 0;
            }
        }
        .survol:hover {
            cursor: pointer;
            background: rgb(236,236,236);
            &:nth-child(odd){
                background: rgb(240,240,240);
            }
        }

    }

    .premiere-periode {
        .libelle {
            border-top-left-radius: 8px;
        }
    }

    .derniere-periode {
        .libelle {
            border-bottom-left-radius: 8px;
        }
        .case:last-child {
            border-bottom-right-radius: 8px;
        }
    }

    .responsive {
        .titre-journal {
            color: white;
            background: $primaire;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 6px;
            text-align: center;
            font-size: small;
        }
        .libelle p {
            color: $primaire;
        }
        .jour {
            background: rgb(237,237,237);
            padding: 16px;
            text-align: center;
            color: #38ab54;
            .date {
                color: #333;
                opacity: .75;
                font-size: small;
            }
        }
        .case {
            padding: 8px;
            background: rgb(246,246,246);
            border-top: 1px solid #DDD;
            .entree-journal {
                border: 1px solid $primaire;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                padding: 6px;
                background: white;
            }
            .couleur-note {
                color: $primaire;
            }
            .couleur-devoir {
                color: darken($secondaire, 10%) !important;
            }
            .couleur-preparation {
                color: darken(#6A51F4, 10%) !important;
            }
            .couleur-cours {
                color: $supplementaire !important;
            }
            .couleur-evaluation {
                color: $tertiaire !important;
            }
            .libelle-periode {
                text-align: center;
                opacity: 0.8;
                font-size: small;
                margin-bottom: 8px;
            }
            .note:last-child {
                margin-bottom: 0;
            }
        }
    }

    .couleur-note .cours { background: darken(#7FBAED, 10%) }
    .couleur-devoir .cours { background: $secondaire }
    .couleur-preparation .cours { background: #6A51F4 }
    .couleur-cours .cours { background: lighten($supplementaire, 10%) }
    .couleur-evaluation .cours { background: lighten($tertiaire, 10%) }
    

    .couleur-note .libelle-journal { color: darken($primaire, 10%) }
    .couleur-devoir .libelle-journal { color: darken($secondaire, 10%) }
    .couleur-preparation .libelle-journal { color: darken(#6A51F4, 10%) }
    .couleur-cours .libelle-journal { color: $supplementaire }
    .couleur-evaluation .libelle-journal { color: $tertiaire }

    .note {
        font-size: small;

        .cours {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding: 3px;
            width: 100%;
            display: block;
            text-align: center;
            font-size: small;
        }


        p {
            padding: 6px 8px;
        }

        .libelle-journal {
            font-size: small;
            font-weight: bold;
        }
    }
}

.couleur-journal-de-classe {
    .couleur-devoir { color: darken($secondaire, 10%) }
    .couleur-preparation { color: darken(#6A51F4, 10%) }
    .couleur-evaluation { color: darken(#f52e2e, 10%) }
}

.journal-commentaire {
    margin: 0 1px;
    border-top: 1px solid #EAEAEA;
    .libelle {
        background: rgb(237,237,237);
        padding: 16px;
        text-align: center;
        color: #38ab54;
        border-bottom-left-radius: 8px;
        border-right: 1px solid #E1E1E1;
    }
    .case {
        background: rgb(246,246,246);
        padding: 16px;
        border-bottom-right-radius: 8px;
        text-align: center;
    }
}

.import.search .results {
    margin-top: -16px !important;
}

.border-radius-0 {
    border-radius: 0 !important;
    border: 0 !important;
}

.rounded-8 {
    border-radius: 8px;
}

iframe #u_body {
    overflow: auto !important;
    padding: 0 !important;
    min-height: 100vh !important;
}

.text-ellipsis {
    text-overflow: ellipsis;
}

.article-image {
    height: 140px;
    width: 140px;
    border-radius: 8px;
}

.article-image #upload-article-img {
    background-image: initial;
    background-color: rgba(22, 65, 143, 0.5);
}

.article-image #upload-article-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 5px;
    border-radius: 8px;
    background: rgba(28, 81, 179, 0.5);
    height: 140px;
    width: 140px;
    transition: 250ms;
    cursor: pointer;
}
.recherche-utilisateur-avec-annulation {
    position: relative;
    display: flex;
    i.mdi-close {
        position: absolute;
        top:-6px;
        right: 26px;
        font-size: 22px;
        padding: 5px;
        color: #F1494C;
    }
}

.checkbox-center {
    position: relative;
    input[type=checkbox] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.pagination-no-margin {
    margin: 0 !important;
}

.h-auto {
    height: auto;
}

.p-20-30{
    padding:20px 30px;
}

.px-8 {
    padding: 0 3em;
}

.border-3 {
    border-width: 3px!important;
}

.rounded-16 {
    border-radius: 10px;
}
.rounded-16-l {
    border-radius: 10px 0 0 10px;
}
.rounded-16-t {
    border-radius: 10px 10px 0 0;
}
.rounded-16-b {
    border-radius: 0 0 10px 10px;
}

.border-success-custom {
    border-color: rgb(37, 156, 64) !important;
}

.border-light-custom {
    border-color: #d5dbe1 !important
}

.fs-sm {
    font-size: small;
}

.text-button{
    background: none !important;
    border: none !important;
    font-size:20px;
    box-shadow:none;
    &:hover{
        box-shadow:none;
    }
    &:active{
        box-shadow:none;
    }
}

.bg-orange{
    background-color: #f2711c !important;
}



.sticky-left {
    position: sticky;
    left: 0;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-hw-0 {
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
}

.opacity-5 {
    opacity: .5 !important;
}

.opacity-100 {
    opacity: 1 !important;
}

.bg-alice {
    background: aliceblue;
}

.badge-success-custom {
    color: #fff;
    background-color: #28a745; }
    .badge-success-custom[href]:hover, .badge-success-custom[href]:focus {
      color: #fff;
      text-decoration: none;
      background-color: #1e7e34; }

.image-popup{
    height:80vh;
    width:auto;
}
.bg-fade{
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:9999;
    background: rgba(0, 0, 0, 0.35);
    .invisible{
        display: none;
    }
}

.grab:hover{
    cursor: grab;
}
.grab:active{
    cursor: grabbing;
}
.cadre{
    border:1px solid rgba(0, 0, 0, 0.35);
    border-radius: 2px;
}
.navigation-eleve{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:whitesmoke;
    position: absolute;
    left:45%;
    top:14px;
    p{
        margin-bottom: 0;
    }
    .icone-navigation-eleve{
        font-size: 2em;
        padding:0px 10px;
    }
}

.navigation-trimestre{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:black;
    p{
        margin-bottom: 0;
    }
    .icone-navigation-trimestre{
        font-size: 2em;
        padding:0px 10px;
    }
}

.calendar{

    .month-container{
        margin-bottom: 35px;
        .month-title{
            color:rgb(16, 38, 80);
            border-bottom:1px solid rgba(0,0,0,0.1);
        }
        .day-header{
            border-bottom:1px solid rgba(0,0,0,0.1);
        }
    }
}

.selectable-calendar .fc-scrollgrid{
    cursor: pointer;
}
.selectable-calendar .fc-today-button{
    display: none !important;
}

.abs-tr{ // Absolue top right
    position: absolute;
    top: 0;
    right: 0;
}
.abs-b{
    position: absolute;
    bottom:0;
    box-sizing: content-box;
}
.react-grid-item.react-grid-placeholder{
    background: royalblue !important;
}
.sidebar-nav ul .second-level {
    margin: 0px;
    padding: 0px !important;
    padding-left: 15px !important;
}

.vb-l{ /* vertical border left */
    border-left: 1px solid rgba(65, 105, 225, 0.336);
}
.vb-r{ /* vertical border right */
    border-right: 1px solid rgba(65, 105, 225, 0.336);
}

// Couleurs justificatifs
.justificatif-color-O{
    color:#FF6464
}
.justificatif-color-D{
    color:#FE9A76
}
.justificatif-color-R{
    color:#FFD21E
}
.justificatif-color-M{
    color:#5AD278
}
.justificatif-color-A{
    color:#3CA0E6
}
.justificatif-color-E{
    color:#D278E6
}

.delete-custom{
    color: #F44336 !important;
    font-size: 1.3em !important;
    &:hover{
        cursor:pointer;
     }
}
.br-15{
    border-radius: 15px;
}
.w32{
    min-width: 32px !important;
    max-width: 32px !important;
    width: 32px !important;
}
.h32{
    min-height: 32px !important;
    max-height: 32px !important;
    height: 32px !important;
}
.cursor-help:hover{
    cursor: help;
}
.pointer{
    transition: .2s;
}
.pointer:hover{
   cursor: pointer;
   filter: brightness(90%);
}
.border-selection-r{
    border-right: 3px solid #38ab54 !important;
}

.h5 {
    font-size: 1.05rem;
}

.h6 {
    font-size: 1.025rem;
}

.webshop-description {
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.webshop-prix {
    position: absolute;
    right: 16px;
    bottom: 0;
}

.webshop-louable-prix {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.webshop-louable-type-prix {
    font-size: medium !important;
    color: #555 !important;
    vertical-align: middle;
}

.webshop-louable-type-prix-small {
    font-size: small !important;
    color: #555 !important;
    vertical-align: middle;
}

.webshop-louable-caution {
    color: #AAA !important;
    font-size: small;
    position: absolute;
    right: 16px;
    bottom: -2px;
}


.webshop-item:hover .webshop-stock {
    opacity: 1;
}

.webshop-stock {
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: small;
    opacity: 0;
    transition: .2s;
}


.webshop-quantite {
    background: #DCDCDC !important;
    display: block;
    width: 15px;
    height: 15px;
    font-size: smaller !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.webshop-caution-panier {
    background: #f1f4f7;
    p {
        font-size: small !important;
        color: #666 !important;
        vertical-align: middle;
    }
}

.webshop-icone-flottant-panier {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 64px;
    height: 64px;
    padding: 16px;
    z-index: 100;

    .webshop-icone-cart {
        text-align: center;
        margin-top: -6px;
    }
    i { margin-bottom: 0 }
    .webshop-prix {
        position: absolute;
        font-size: small;
        width: 64px;
        bottom: 10px;
        margin-bottom: 0;
        text-align: center;
        right: 0;
    }
}

.mt-0i {
    margin-top: 0 !important;
}

.top70 {
    top: 86px !important;
}
.webshop-panier-flottant {
    position: fixed;
    bottom: 72px;

    right: 0;
    border: 0 !important;
    > div {
        -webkit-box-shadow: 5px 5px 16px 0px rgba(116,116,116,0.72);
        box-shadow: 5px 5px 16px 0px rgba(116,116,116,0.72);
    }
}

.shadow-smooth {
    -webkit-box-shadow: 5px 5px 16px 0px rgba(116,116,116,0.72);
    box-shadow: 5px 5px 16px 0px rgba(116,116,116,0.72);
}

.webshop-panier-flottant-avec-menu {
    left: 64px !important;
    width: 92.5% !important;
}

.article-ajout-stock {
    border: 1px solid #e9ecef;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #525f7f;
    padding: 0 16px;
}

.action-button {
  padding: 0 1em 0 0.5em !important;
  padding-right: 0.5rem !important;
  background-color: #EDEFF0 !important;
  cursor : pointer !important;
  border-radius: 15px !important;
}

.action-button-danger {
  padding: 0 1em 0 0.5em !important;
  padding-right: 0.5rem !important;
  background-color: #EDEFF0 !important;
  border-radius: 15px !important;
  color: #fc4b6c !important;
}

.action-button-blue-smooth {
   padding: 0 1em 0 0.5em !important;
   padding-left: 0.5rem !important;
   padding-right: 0.5rem !important;
   background-color: #EDEFF0 !important;
   border-radius: 15px !important;
   color: #0397d6 !important;
 }

.action-button-success {
  padding: 0 1em 0 0.5em !important;
  padding-right: 0.5rem !important;
  background-color: #EDEFF0 !important;
  border-radius: 15px !important;
  color:#28a745;
}

.action-button-warning {
  padding: 0 1em 0 0.5em !important;
  padding-right: 0.5rem !important;
  background-color: #EDEFF0 !important;
  border-radius: 15px !important;
  color:#ffc107;
}

.action-button-success:hover, .action-button-success:focus {
  cursor : pointer !important;
  background-color: #b0bdca !important;
}

.action-button-blue-smooth:hover, .action-button-blue-smooth:focus {
  cursor : pointer !important;
  background-color: #b0bdca !important;
}

.action-button-danger:hover, .action-button-danger:focus {
  cursor : pointer !important;
  background-color: #b0bdca !important;
}

.action-button-warning:hover, .action-button-warning:focus {
  cursor : pointer !important;
  background-color: #b0bdca !important;
}

.custom-success-text{
    color:#28a745;
}

.custom-success-text-hover{
    color:#28a745;
}

.custom-success-text-hover:hover{
    color:#2a7e3d;
}

.custom-success{
    background: #28a745 !important;
    border:none !important;
 }
.custom-success:hover{
    background: #20A03D !important;
    border:none !important;
    cursor:pointer !important;
 }
 .custom-danger-text{
     color:#F25050;
 }
 .custom-danger{
    background: #F25050 !important;
    border:none !important;
 }
.custom-danger:hover{
    background: #D04040 !important;
    border:none !important;
    cursor:pointer !important;
 }
.card-header-button .custom-btn{
    font-size: 1.1em !important;
    display: flex;
    align-items: center;
    padding:.5em 1em;
    color:whitesmoke !important;
    cursor:pointer !important;
 }
 .card-header-button .custom-btn:hover{
    color:whitesmoke !important;
    cursor:pointer !important;
 }
 .card-header-button .custom-btn i{
    margin-left: 6px;
 }
 .card-header-button .custom-success{
    background: #28a745 !important;
    border:none !important;
 }
 .card-header-button .custom-success:hover{
    background: #20A03D !important;
    border:none !important;
    cursor:pointer !important;
 }
 .card-header-button .edit:hover, .card-header-button .delete:hover {
    cursor:pointer !important;
 }

 .card-header-button .hover:hover{
    cursor:pointer;
 }

 .card-header-button .table-title {
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 100%;
	border-radius: 3px 3px 0 0;
}
.card-header-button .table-title h4 {
	margin: 5px 0 0;
	font-size: 22px;
}
.card-header-button .table-title .btn-group {
	float: right;
}
.card-header-button .table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}
.card-header-button .table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.card-header-button .table-title .btn span {
	float: left;
	margin-top: 2px;
}

.table-absence{
   border-radius: 8px !important;
   border: 1px solid lightgray !important;
   margin-top:2em !important;
}

.page-wrapper {
    background: $body-bg;
    position: relative;
    transition: 0.2s ease-in;
    display: none;
}

.page-wrapper > .page-content {
    padding: 19px;
    min-height: calc(100vh - 70px);
}

.page-breadcrumb {
    padding: 30px 30px 0px;
}

.text-black{
    color: rgb(22,22,22);
}

.bg-hover{
    background: rgba(0, 0, 0, 0.03) !important;
}
/*******************
 Footer
*******************/

.footer {
    padding: 15px 20px;
}

/*******************
 Stickey inner-left-part
*******************/

.left-part {
    height: calc(100vh - 172px);
    width: $left-part-width;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid $border-color;

    .email-filters,
    .contact-filters,
    .chat-users {
        height: calc(100vh - 242px);
        overflow: auto;
    }

    .chat-users {
        height: calc(100vh - 274px);
    }

    &.fixed-left-part {
        position: fixed;
        top: 0px;
        padding-top: 10px;
    }

    .show-left-part {
        position: absolute;
        top: 45%;
        left: -41px;
    }
}

.right-part {
    width: calc(100% - 260px);
    height: calc(100vh - 174px);
    overflow: auto;
    margin-left: $left-part-width;
}

.right-part.chat-list {
    height: calc(100vh - 168px);
}

.right-left-part {
    width: 300px;
    position: absolute;
    border-right: 1px solid $border-color;

    .email-list,
    .contact-list {
        height: calc(100vh - 172px);
        overflow: auto;
    }

    .contact-list {
        height: calc(100vh - 258px);
    }
}
.email-list li{
   background: rgb(255,255,255) !important;
}
.email-list li.bg-lu{
   background-color: #EBEBEB !important;
}
.email-list li:hover{
   filter: brightness(0.95);
}

.email-list ul li, .full-size ul li{
   border: none;
   border-top: 1px solid #dee2e6;
   &:hover{
      cursor:pointer;
   }
}


.message-ajout {
   display:flex !important;
   align-items: center !important;
   justify-content: center !important;
   height: 64px;
   background: #FFF;
   p{
      margin: 0;
      i{
         margin-right:8px;
      }
   }
   &:hover{
      filter:brightness(0.9);
      cursor:pointer;
   }
}
.message-form .mr-16{
   margin-right: 16px !important;
}
.message-form .form-row{
   margin: -5px 0;
}
.message-form .form-group{
   display: flex;
   flex-direction: row;
   padding:.8rem 1.5rem;
   margin: 0;
   justify-content: flex-end;
   input, select{
      border-radius: 4px;
   }
}




.full{
   height:100% !important;
   width:100% !important;
}

.right-right-part {
    width: calc(100% - 300px);
    height: calc(100vh - 175px);
    overflow: auto;
    margin-left: 300px;
}

.reverse-mode {
    .left-part {
        right: 0;
        border-left: 1px solid $border-color;
    }

    .show-left-part {
        right: auto;
        left: -41px;
    }

    .right-part {
        margin-left: 0px;
        margin-right: $left-part-width;
    }
}

/*******************
 Vertical layout
*******************/

#main-wrapper[data-layout="vertical"] {
    /*Vertical*/
    .topbar .top-navbar .navbar-header {
        //width: $sidebar-width-full;
        transition: 0.2s ease-in;
    }

    /*sidebar type*/
    /* &[data-sidebartype='full'] {
    .page-wrapper {
      margin-left: $sidebar-width-full;
    }
  } */
    &[data-sidebartype="iconbar"] {
        .page-wrapper {
            margin-left: $sidebar-width-iconbar;
        }

        .left-sidebar,
        .topbar .top-navbar .navbar-header,
        .sidebar-nav ul .sidebar-item {
            width: $sidebar-width-iconbar;
        }

        .sidebar-nav {
            ul .sidebar-item {
                .sidebar-link {
                    display: block;
                    text-align: center;

                    i {
                        display: block;
                        width: auto;
                    }
                }
            }
        }
    }

    &[data-sidebartype="overlay"] {
        .topbar .top-navbar .navbar-header {
            width: $sidebar-width-full;
        }

        .left-sidebar {
            left: -$sidebar-width-full;
        }

        &.show-sidebar {
            .left-sidebar {
                left: 0;
            }
        }
    }

    /*Sidebar position*/
    &[data-sidebar-position="fixed"] {
        .topbar .top-navbar .navbar-header {
            position: fixed;
            z-index: 10;
        }

        .left-sidebar {
            position: fixed;
        }
    }

    /*Header position*/
    &[data-header-position="fixed"] {
        .topbar {
            position: fixed;
            width: 100%;
        }

        .page-wrapper {
            padding-top: $topbar-height;
        }
    }

    /*Boxed Layout*/
    &[data-boxed-layout="boxed"] {
        max-width: $boxed-width;
        margin: 0 auto;
        position: relative;
        box-shadow: 1px 0 80px rgba(0, 0, 0, 0.2);
    }

    &[data-boxed-layout="boxed"][data-header-position="fixed"] {
        .topbar {
            max-width: $boxed-width;
        }
    }
}

/*******************
 Vertical responsive layout
*******************/

@include media-breakpoint-up(md) {
    #main-wrapper[data-layout="vertical"] {
        /*Vertical*/
        &[data-sidebartype="full"] {
            .topbar .top-navbar .navbar-header {
                width: $sidebar-width-full;
            }
        }

        /*Sidebar position*/
        &[data-sidebar-position="fixed"][data-sidebartype="full"],
        &[data-sidebar-position="fixed"][data-sidebartype="overlay"] {
            .topbar .top-navbar .navbar-collapse {
                margin-left: $sidebar-width-full;
            }
        }

        &[data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"] {
            .topbar .top-navbar .navbar-collapse {
                margin-left: $sidebar-width-mini;
            }
        }

        &[data-sidebar-position="fixed"][data-sidebartype="iconbar"] {
            .topbar .top-navbar .navbar-collapse {
                margin-left: $sidebar-width-iconbar;
            }
        }

        /*Vertical with mini-sidebar*/
        &[data-sidebartype="mini-sidebar"] {
            .topbar .top-navbar .navbar-header {
                width: $sidebar-width-mini;

                .logo-text {
                    display: none;
                }

                &.expand-logo {
                    width: $sidebar-width-full;

                    .logo-text {
                        display: block;
                    }
                }
            }
        }

        /*Fixed sidebar with minisidebar*/
        &[data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"] {
            .topbar .top-navbar .navbar-collapse {
                margin-left: $sidebar-width-mini;
            }
        }

        &[data-sidebartype="mini-sidebar"] {
            .page-wrapper {
                margin-left: $sidebar-width-mini;
            }

            .sidebar-nav {
                ul {
                    padding: 5px 5px 5px 5px;
                }

                .hide-menu,
                .has-arrow:after {
                    display: none;
                }

                .nav-small-cap {
                    justify-content: center;
                }

                .user-profile {
                    padding-bottom: 0px;
                    margin-bottom: 7px;

                    .profile-img {
                        visibility: hidden;
                        padding: 0px 0 0 0;
                        margin: 0px 0 0 0px;

                        &:before {
                            top: 15px;
                        }
                    }
                }
            }

            .left-sidebar {
                width: $sidebar-width-mini;
                overflow: hidden;

                &:hover {
                    width: $sidebar-width-full;

                    .sidebar-nav {
                        .hide-menu,
                        .has-arrow:after {
                            display: block;
                        }

                        .nav-small-cap {
                            justify-content: flex-start;
                        }

                        .user-profile {
                            padding-bottom: unset;
                            width: unset;
                            margin-bottom: unset;

                            .profile-img {
                                padding: 55px 0;
                                margin: 0px 0 0 30px;

                                &:before {
                                    top: unset;
                                }
                            }
                        }
                    }

                    .first-level {
                        .sidebar-item .sidebar-link i {
                            padding: 0 0 0 0px;
                        }
                    }

                    .second-level .sidebar-item {
                        padding: 0 0 0 17px;
                    }
                }

                .first-level {
                    .sidebar-item .sidebar-link i {
                        visibility: visible;
                        margin-left: -10px;
                    }
                }

                .second-level .sidebar-item {
                    padding: 0 0 0 0px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    #main-wrapper {
        .left-sidebar {
            left: -$sidebar-width-full;
        }

        &[data-sidebartype="mini-sidebar"],
        &[data-sidebartype="iconbar"] {
            .left-sidebar {
                left: -$sidebar-width-full;
            }
        }

        &.show-sidebar {
            .left-sidebar {
                left: 0;
            }
        }

        &[data-layout="vertical"][data-sidebar-position="fixed"] {
            .topbar .top-navbar {
                .navbar-header {
                    width: 100%;
                }

                .navbar-collapse {
                    position: relative;
                    top: $topbar-height;
                }
            }
        }

        /*Header position*/
        &[data-layout="vertical"][data-header-position="fixed"][data-sidebar-position="fixed"] {
            .topbar .top-navbar {
                .navbar-collapse {
                    position: relative;
                    top: $topbar-height;
                }
            }
        }

        // Icon Sidebar
        &[data-layout="vertical"][data-sidebartype="iconbar"] {
            .page-wrapper {
                margin-left: 0;
            }
        }
    }

    .left-part {
        left: -$left-part-width;
        background: $body-bg;
        z-index: 1;
        top: $topbar-height;
        height: calc(100vh - 66px);
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        position: fixed;
        transition: 0.1s ease-in;

        &.show-panel {
            left: 0px;
        }
    }

    .reverse-mode .left-part {
        right: -$left-part-width;
        left: auto;

        &.show-panel {
            right: 0px;
        }
    }

    .right-part {
        width: 100%;
        margin-left: 0px;
        height: 500px;
    }
}

@media (min-width: 1024px) {
    #main-wrapper[data-layout="vertical"][data-sidebartype="full"]
        .page-wrapper {
        margin-left: 250px;
    }
}


.span-error-remplacement {
    position: relative;
    top: 5px;
    left: 2px;
    font-size: 0.8em;
    color: #dc3545;
}
.remarque-text {
    text-align: left;
    font-size: 0.9em;
    max-width: 1000px;
}
.error-max-eval {
    font-size: 0.8em;
    color: #dc3545;
}
.internat-type-style {
    color: #525f7f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    padding: 7px 46px;
}

.filtre-checkbox-utilisateur {
    color: #525f7f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    padding: 6px 11px;
    display: flex;
    align-items: center;
}