body {
  font-family: 'Barlow Condensed', sans-serif !important;
  height: 100vh;
}

.background-app {
  background-color: #171717;
  color: #1d181f;
  height: 100%;
}

.movie-vote-green {
  color: #07d234;
  font-weight: 500;
}
.movie-vote-red {
  color: #f55252;
  font-weight: 500;
}
.movie-vote-orange {
  color: #fdac2d;
  font-weight: 500;
}

.auth-card {
  width: 400px;
  background-color: #302938;
  color: #fff;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px #1d181f;
}

.auth-label {
  font-size: 1.2em;
}

.auth-icon {
  font-size: 7em;
  color: #fff;
  padding: 5px;
  text-shadow: 1px 1px 5px #1d181f;
}

.auth-btn {
  background-color: #8d7ff3;
  color: #fff;
  font-weight: 400;
  border: unset;
  margin-top: 20px;
  padding: 10px 0;
  transition: 0.3s all ease-in-out;
}

.auth-btn:hover {
  background-color: #5e51f8;
}

.auth-input {
  font-weight: 400;
  font-size: 0.9em;
  padding: 22px 20px;
  background-color: #352e3d;
  border: 1px solid #393240;
  color: #fff;
  transition: 0.3s all ease-in-out;
}

.auth-input:focus {
  background-color: #47404f;
  border: 1px solid #393240;
  color: #fff;
  font-weight: 400;
}

.random-card {
  height: 600px;
  background-repeat: no-repeat;
  background-position: initial;
  background-size: contain;
  display: flex;
  align-items: center;
  position: relative;
}

.random-card-vote {
  padding-left: 70px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 10px #171717;
}

.random-card-vote p {
  margin: 0;
}

.random-card-vote .vote {
  font-size: 5em;
}

.random-card-vote hr {
  width: 50px;
  height: 6px;
  margin: 0;
  background-color: #fff;
}

.random-card-info {
  padding-right: 25px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 10px #171717;
}

.random-card-info .title {
  font-size: 4em;
}

.random-card-info .overview {
  font-size: 1.2em;
}

.error-login {
  color: #ef5e5e;
  font-size: 1.2em;
}

.movie-container {
  margin: 35px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card {
  margin: 25px 15px;
  padding: 10px;
  width: 250px;
  height: 400px;
  color: #fff;
}
.movie-card .title {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 1.2em;
}
.movie-card .note {
  margin: 0;
  font-size: 1.1em;
}
.movie-card-back {
  background-repeat: no-repeat;
  background-position: initial;
  background-size: contain;
  width: 100%;
  height: 90%;
  margin: 0;
}

.movie-nav {
  padding: 10px 35px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}