html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Barlow Condensed', sans-serif !important;
  height: 100vh;
  background-color: #171717;
  scroll-behavior: smooth;
}
.background-app {
  background-color: #171717;
  color: #1d181f;
  //height: 100%;
}
.movie-vote-green {
  color: #07d234;
  font-weight: 500;
}
.movie-vote-red {
  color: #f55252;
  font-weight: 500;
}
.movie-vote-orange {
  color: #fdac2d;
  font-weight: 500;
}
.gradient {
  background: rgb(23,23,23);
  background: linear-gradient(180deg, rgba(23,23,23, 0) 0%, rgba(23,23,23,1) 100%);
  height: 13%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.top-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 500;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  background-color: rgba(79, 79, 79, 0.82);
  border-radius: 4px;
  padding: 4px;
  transition: 0.3s ease-in-out;
}
.top-button:hover {
  color: #8d7ff3;
  background-color: #fff;
}

// login
.error-login {
  color: #ef5e5e;
  font-size: 1.2em;
}
.auth-card {
  width: 400px;
  background-color: #302938;
  color: #fff;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 20px #1d181f;
}
.auth-label {
  font-size: 1.2em;
}
.auth-icon {
  font-size: 7em;
  color: #fff;
  padding: 5px;
  text-shadow: 1px 1px 5px #1d181f;
}
.auth-btn {
  background-color: #8d7ff3;
  color: #fff;
  font-weight: 400;
  border: unset;
  margin-top: 20px;
  padding: 10px 0;
  transition: 0.3s all ease-in-out;
}
.auth-btn:hover {
  background-color: #5e51f8;
}
.auth-input {
  font-weight: 400;
  font-size: 0.9em;
  padding: 22px 20px;
  background-color: #352e3d;
  border: 1px solid #393240;
  color: #fff;
  transition: 0.3s all ease-in-out;
}
.auth-input:focus {
  background-color: #47404f;
  border: 1px solid #393240;
  color: #fff;
  font-weight: 400;
}

// movie random
.random-card {
  height: 600px;
  background-repeat: no-repeat;
  //background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.random-card-vote {
  padding-left: 70px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 10px #171717;
  opacity: 1;
}
.random-card-vote p {
  margin: 0;
}
.random-card-vote .vote {
  font-size: 5em;
  transition: 0.3s ease-in-out;
}
.random-card-vote hr {
  width: 50px;
  height: 6px;
  margin: 0;
  background-color: #fff;
}
.random-card-info {
  padding-right: 25px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 10px #171717;
}
.random-card-info .title {
  font-size: 4em;
  transition: 0.3s ease-in-out;
}
.random-card-info .overview {
  font-size: 1.2em;
  font-weight: 300;
}
.random-card-info .title:hover {
  color: #8d7ff3;
}
.random-card-vote .vote:hover {
  color: #8d7ff3;
}

// movie display
.movie-container {
  margin: 80px 35px 35px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card {
  margin: 25px 15px;
  padding: 10px;
  width: 250px;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.movie-card:hover {
  transform: scale(1.1);
  color: #8d7ff3;
}
.movie-card:hover .title {
  color: #8d7ff3;
}
.movie-card .title {
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  max-width: 200px;
  transition: 0.3s ease-in-out;
}
.movie-card .note {
  margin: 0;
  padding-top: 10px;
  font-size: 1.1em;
}
.movie-card-back {
  border-radius: 4px;
  width: 100%;
  margin: 0;
}
.movie-text {
  margin: 25px 15px;
}
.movie-text hr {
  width: 350px;
  height: 6px;
  margin: 0;
  background-color: #fff;
}
.movie-text .title {
  font-size: 6em;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.movie-text .title:hover {
  color: #8d7ff3;
}
.movie-text .title hr {
  transition: 0.3s ease-in-out;
}
.movie-text .title:hover hr {
  background-color: #8d7ff3;
}
.movie-text .extra {
  margin-top: 25px;
  font-size: 1.3em;
  color: #a8a8a8;
}

// movie detail
.separator {
  background-color: rgba(255, 255, 255, 0.18);
  height: 3px;
  width: 85%;
  border-radius: 4px;
}
.movie-detail-poster {
  height: 680px;
  background-repeat: no-repeat;
  //background-position: center;
  background-size: cover;
  opacity: 0.8;
}
.movie-detail-info {
  color: #fff;
  padding-left: 50px;
  margin-bottom: 40px;
  position: relative;
  top: -35px;
}
.movie-detail-info .poster {
  width: 200px;
  border-radius: 4px;
  opacity: 0.8;
  filter: drop-shadow(6px 6px 6px rgba(72, 72, 72, 0.37));
}
.movie-detail-info .genre {
  font-size: 1.5em;
  color: rgba(217, 217, 217, 0.55);
  margin-bottom: 25px;
}
.movie-detail-info .title {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0;
}
.movie-detail-info .vote i, .movie-detail-info .timer i {
  font-size: 2.2em;
}
.movie-detail-info .vote p, .movie-detail-info .timer p  {
  margin: 0;
  font-size: 2.2em;
}
.movie-detail-infoplus .genre {
  background-color: rgba(79, 79, 79, 0.82);
  text-align: center;
  border-radius: 4px;
  margin: 0;
  padding: 5px 25px;
  font-size: 1.2em;
  font-weight: 500;
}
.movie-detail-overview {
  color: #fff;
  padding-left: 50px;
  margin-top: 20px;
}
.movie-detail-overview .title {
  font-size: 2em;
  margin: 0;
}
.movie-detail-overview .overview {
  font-size: 1.5em;
  margin-top: 10px;
}
.detail-movie-similar-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: thin;
  margin-top: 80px;
  padding-left: 50px;
  padding-bottom: 40px;
}
.detail-movie-similar {
  display: flex;
  flex-direction: column;
  margin: 25px 15px;
  padding: 10px;
  width: 250px;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.detail-movie-similar p {
  margin: 0;
  font-size: 1.4em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s ease-in-out;
}
.detail-movie-similar img {
  border-radius: 4px;
}
.detail-movie-similar:hover {
  transform: scale(1.1);
}
.detail-movie-similar:hover p {
  color: #8d7ff3;
}
.movie-detail-button {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 50px;
  padding-bottom: 50px;
}
.movie-detail-button i {
  font-size: 1.5em;
  cursor: pointer;
  background-color: #8d7ff3;
  padding: 1px 12px;
  border-radius: 4px;
  color: #fff;
}
.movie-detail-button .link-container input {
  width: 320px;
  padding: 4px 12px;
  border-radius: 4px 0 0 4px;
}
.movie-detail-button .link-container i {
  font-size: 1.2em;
  border-radius: 0 4px 4px 0;
}
.movie-detail-button .link-container .error {
  margin: 0;
  position: absolute;
  color: #e84343;
  font-size: 1.3em;
  font-weight: 400;
  top: 40px;
}
.movie-detail-button a i {
  padding: 4px 12px;
}

// navbar
.navbar-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2d2d2d;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.navbar-app:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #8d7ff3;
  width: 80px;
  height: 130px;
  transform: rotate(30deg);
  left: -45px;
}
.navbar-app a {
  margin: 0 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.navbar-app a:hover {
  color: #8d7ff3;
}
.navbar-app .right {
  margin-right: 45px;
}
.navbar-app .left i {
  font-size: 2.2em;
  cursor: pointer;
  color: #8d7ff3;
  margin-left: 70px;
}
.navbar-app .left a, .navbar-app .right a {
  font-size: 1.3em;
  font-weight: 500;
}
.navbar-app .right i {
  margin: 0 15px 0 0;
  font-size: 1.2em;
}
.navbar-app .right input {
  padding: 0 50px 0 10px;
  height: unset;
}
.navbar-app .right .search i {
  cursor: pointer;
}
.navbar-app .right .search div {
  overflow: hidden;
  transition: 0.3s ease-in-out;
}


// discover
.loading-btn {
  padding: 5px 55px;
  font-size: 1.1em;
  border-radius: 4px;
  background-color: rgba(79, 79, 79, 0.82);
  border: unset;
  transition: 0.3s ease-in-out;
}
.loading-btn:hover {
  background-color: #8d7ff3;
  color: #fff;
}
.top-container-discover {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 30px 0;
}
.top-container-discover .title {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  margin: 0;
}
.top-container-discover .title:hover {
  color: #8d7ff3;
}
.top-container-discover .genre-container-list {
  position: fixed;
  background-color: rgba(49, 49, 49, 0.91);
  padding: 50px;
  height: 100vh;
  width: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  transition: 0.6s ease-in-out;
  overflow: auto;
}
.top-container-discover .genre-container-list p {
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  padding: 25px;
  transition: 0.3s ease-in-out;
}
.top-container-discover .genre-container-list p:hover {
  color: #8d7ff3;
}
.top-container-discover .genre-container-list i {
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: right;
}


// media query
@media only screen and (max-width: 600px) {
  // movie random
  .random-card {
    background-position: center;
  }
  .random-card .info-container {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 120px;
  }
  .random-card .random-card-vote {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
  }
  .random-card .random-card-vote hr {
    display: none;
  }
  .random-card .random-card-vote .vote {
    font-size: 2em;
  }
  .random-card .random-card-info {
    padding-left: 35px;
    padding-right: unset;
  }
  .random-card .random-card-info .title {
    font-size: 2em;
  }
  .random-card .random-card-info .overview {
    font-size: 1em;
  }

  // movie display
  .movie-text .title {
    font-size: 3em;
  }
  .movie-container .movie-text hr {
    width: unset;
  }
  .movie-container .movie-card {
    width: 130px;
  }
  .movie-container .movie-card .title {
    font-size: 1em;
  }


  // movie detail
  .movie-detail-poster {
    background-position: center;
  }
  .movie-detail-info,
  .movie-detail-button,
  .movie-detail-overview,
  .detail-movie-similar-container {
    padding-left: 20px;
  }
  .movie-detail-info {
    margin-bottom: 0;
  }
  .movie-detail-info .poster {
    width: 150px;
  }
  .movie-detail-info .title, .movie-detail-overview .title {
    font-size: 1.5em;
  }
  .movie-detail-info .genre,
  .movie-detail-info .timer p,
  .movie-detail-info .timer i,
  .movie-detail-info .vote i,
  .movie-detail-info .vote p {
    font-size: 1.2em;
  }
  .movie-detail-button i, .movie-detail-button .link-container i {
    font-size: 1.2em;
  }
  .movie-detail-button .link-container input {
    width: 180px;
    height: 30px;
  }
  .movie-detail-overview .overview {
    font-size: 1em;
  }
  .detail-movie-similar-container .detail-movie-similar img {
    min-height: 180px;
    width: 130px;
  }
  .detail-movie-similar-container .detail-movie-similar p {
    font-size: 1.1em;
  }
}
