.calendrierReservation .fc .fc-bg-event  {
    background-color: #4084c5;
}


/*.calendrierReservation .fc td.fc-day-top.fc-past{*/
/*    opacity:1;*/
/*}*/

.fc-toolbar {
    text-transform: capitalize;
}

.calendrierReservation button.fc-prev-button {
    background-color:#3C86C7;
}
.calendrierReservation button.fc-next-button {
    background-color:#3C86C7;

}
.calendrierReservation .fc  .fc-today-button{
    background-color:#3C86C7;

    /*opacity: 1;*/
}

/*Numéro des jours*/
.calendrierReservation .fc .fc-day-past a.fc-daygrid-day-number {
    color:black;
    opacity: 1;
}

.calendrierReservation .fc .fc-day-future a.fc-daygrid-day-number {
    color:black;
}
.calendrierReservation .fc .fc-day-today a.fc-daygrid-day-number {
    color:black;
    background-color: #3C86C7;
    border-radius: 50% / 50%;
    width: 30px;
    text-align: center;
}
/*Masqué le libellé congé*/
.calendrierReservation .fc .fc-event-title {
    color:black;
}
/* Gestion du curseur */
.fc-day {
    cursor: pointer;
}
.calendrierReservation .fc .fc-event {
    cursor: not-allowed;
    opacity: 1;
}
.fc .fc-day-other .fc-daygrid-day-top {
    opacity: 1;
}
/* Evenement passé avec sans interdi*/

.calendrierReservation .fc .fc-event-past .fc-event-today{
    cursor: not-allowed;
    opacity: 1;
}
.calendrierReservation .fc .fc-event-today{
    cursor: not-allowed;
    opacity: 1;
}
/* jour passé avec sans interdit*/

.calendrierReservation .fc .fc-day-past  {
    background-color: #e6e6ea;
    cursor: not-allowed;
}
.calendrierReservation .fc .fc-daygrid-event{
    cursor:pointer;
}


.calendrierReservation div .fc .fc-bg-event .fc-event .fc-event-start .fc-event-end{
    cursor: not-allowed;
}


@media screen and (min-width: 200px) and (max-width: 640px) {
    .calendrierReservation .fc  .fc-today-button{
        background-color:#3C86C7;
        opacity: 1;
        visibility: hidden;
    }

}
